:root {
  --background-color: #f2f2f2;
  --text-color: #000000;
  --inverse-text-color: #000000;
  --header-footer-bg: #e0e0e0;
  --header-footer-text: #000000;
  --border-color: #000;
  --heading-color: #000;
  --today-event-bg: #ffefc1;
  --today-event-border: #ffc107;
  --today-event-text-color: #000;
  --a: rgb(27, 13, 220);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Space Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0 20px;
  text-align: center;
  margin: 0;
}

[data-theme="dark"] {
  --background-color: #1c1c1c;
  --text-color: #ffffff;
  --inverse-text-color: #000000;
  --header-footer-bg: #2a2a2a;
  --header-footer-text: #000;
  --heading-color: #aec39f;
  --border-color: #999999;
  --today-event-bg: #111;
  --today-event-border: #222;
  --today-event-text-color: #fff;
  --a: #ffc107;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0;
  text-align: left;
}

header,
footer {
  color: var(--header-footer-text);
  padding: 15px 0;
  * {
    color: var(--text-color);
  }
  button {
    margin-top: 10px;
    color: var(--inverse-text-color);
  }
}

nav {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  ul li {
    position: relative;
    padding: 0 5px; // Adjust space between items
    
    &::before {
      content: "|"; // The separator
      position: absolute;
      opacity: .6;
      left: -12.5px; // Adjusts position of the separator
    }
  
    &:first-child::before {
      content: ""; // Removes the separator before the first item
    }
  }

  a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

h1,
h2 {
  font-family: "Space Mono", sans-serif;
  color: var(--heading-color);
  margin-top: 0;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

[data-lol] {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
  display: block; ;
  small {
    display: block;
    margin-top: 6px;
  }
}

h3 {
  padding:0;
  margin: 0;
  display: block;
  opacity: .8;
}

p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  color: var(--a);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.today-event {
  background-color: var(--today-event-bg);
  //border: 2px solid var(--today-event-border);
  color: var(--today-event-text-color);
  padding: 15px;
}

[data-event] {
  border-bottom: 4px dotted #aaa;
  padding-bottom:20px;
  margin-bottom: 40px;

  .today {
    position: absolute;
    top: -14px;
    right: -14px;
    background: var(--background-color);
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
  }
}
