:root {
  --background-color: #f2f2f2;
  --text-color: #000000;
  --inverse-text-color: #ffffff;
  --header-footer-bg: #e0e0e0;
  --header-footer-text: #000000;
  --border-color: #000;
  --heading-color: #000;
  --today-event-bg: #efd4ea;
  --today-event-border: #ffc107;
  --today-event-text-color: #000;
  --a: rgb(27, 13, 220);
  --button-color: #eee;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--background-color);
  padding: 0 20px;
  font-style: normal;
  font-family: "Space Mono", monospace;
  color: var(--text-color);
  font-optical-sizing: auto;
  text-align: center;
}

* {
  font-family: "Space Mono", monospace !important
}

[data-theme="dark"] {
  --background-color: #1c1c1c;
  --text-color: #ffffff;
  --inverse-text-color: #000000;
  --header-footer-bg: #2a2a2a;
  --header-footer-text: #ffffff;
  --heading-color: #dbe3d5;
  --border-color: #999999;
  --today-event-bg: #111;
  --today-event-border: #222;
  --today-event-text-color: #fff;
  --a: #ffc107;
  --button-color: #444;
}

.container {
  margin: auto;
  max-width: 666px;
  padding: 0;
  text-align: left;
}

header,
footer {
  padding: 15px 0;
  color: var(--header-footer-text);
}

header * {
  color: var(--text-color);
}

header button {
  margin-top: 10px;
  color: var(--inverse-text-color);
}

nav ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 0 15px;

  @media only screen and (max-width: 720px) {
    max-width: 350px;
  }
}

@media only screen and (min-width: 720px) {
  nav ul {
    justify-content: center;
  }
}

nav ul li {
  position: relative;
  margin: 0;
  padding: 0 5px;
}

nav ul li:first-child {
  margin: 0;
  padding: 0;
}

nav ul li::before {
  position: absolute;
  left: -12.5px;
  content: "|";
  opacity: 0.6;
  color: #ccc;
}

@media only screen and (max-width: 720px) {
  nav ul li:nth-child(4) {
    margin-left: 0;
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

nav ul li:first-child::before {
  content: "";
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

p {
  margin-top: 8px;
}

h1,
h2 {
  margin-top: 0;
  font-family: "Space Mono", sans-serif;
  color: var(--heading-color);
}

h1 {
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
}

[data-lol] {
  margin-bottom: 20px;
  text-align: left;

  @media only screen and (min-width: 720px) {
    text-align: center;
  }
}

h2 {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
}

h2 small {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
}

h3 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--a);
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
  list-style-type: square;
}

li {
  margin-bottom: 10px;
}

.today-event {
  position: relative;
  margin-top: 40px;
  background-color: var(--today-event-bg);
  padding: 15px;
  padding-top: 20px;
  color: var(--today-event-text-color);
}

[data-event] {
  border-bottom: 4px dotted #aaa;
  margin-bottom: 40px;
  padding-bottom: 20px;

  details {
    cursor: pointer;
  }

  li {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

[data-event] .today {
  position: absolute;
  top: -25px;
  left: 0px;
  border-radius: 2px;
  background-color: var(--today-event-bg);
  height: 30px;
  padding: 4px 15px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: var(--text-color);
}

[data-add] {
  display: block;
  font-size: 12px;
  line-height: 32px;
}

#theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 0px;
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: var(--text-color);
  cursor: pointer;
  transform: rotate(-90deg);
}

#theme-toggle:hover {
  transform: scale(1.2) rotate(-90deg);
}

.flyout-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.flyout-overlay-show {
  opacity: 1;
  pointer-events: auto;
}

.flyout {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--background-color);
  height: 100%;
  width: 40vw;
  max-width: 40%;
  overflow-y: auto;
  color: var(--text-color);
  transition: right 0.3s ease;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);

  @media only screen and (max-width: 720px) {
    width: 85vw;
    max-width: unset;
  }
}

.flyout-show {
  right: 0;
}

.flyout-content {
  padding: 20px;
  details {
    cursor: pointer;
  }
  li {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #666;
  margin-top: -5px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;

  @media only screen and (max-width: 720px) {
    flex-direction: column;
    align-items: center;
  }
}

.rbc-row-segment .rbc-event-content {
  display: block !important;
  overflow: hidden !important;
  white-space: wrap !important;
}

.rbc-month-row {
  flex-basis: fit-content !important;
  min-height: 20px;
}

.rbc-toolbar {
  flex-direction: row-reverse;
}

.rbc-toolbar-label {
  padding-left: 0 !important;
  text-align: left !important;
}

#tab-buttons,
.rbc-btn-group {
  button {
    border: 0 !important;
    border: 1px solid var(--border-color) !important;
    background-color: var(--button-color) !important;
    padding: 8px 15px !important;
    font-weight: bold !important;
    color: var(--text-color) !important;
    border-radius: 0 !important;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s, transform 0.2s !important;
    font-size: 14px !important;
  }

  button:hover {
    transform: scale(1.05) !important;
    background-color: var(--text-color) !important;
    color: var(--inverse-text-color) !important;
  }
}

#tab-buttons {
  #calendar-tab {
    position: relative;
    left: -1px;
  }

  &:hover {
    z-index: 100;
  }
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  border-radius: 0 !important;
  background-color: var(--a) !important;
}

.rbc-month-view,
.rbc-date-cell {
  background-color: var(--background-color);
  color: var(--text-color);
}

.rbc-event-content {
  color: var(--inverse-text-color);
}

#tab-buttons button {
  border: none;
  background-color: var(--button-color);
  padding: 8px 15px;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#tab-buttons button.active {
  background-color: var(--a) !important;
  font-weight: bold !important;
  color: var(--inverse-text-color) !important;
}

#tab-buttons button:not(.active):hover {
  background-color: var(--text-color);
  color: var(--inverse-text-color);
}

.rbc-btn-group {
  @media only screen and (max-width: 720px) {
    margin-bottom: 10px;
  }
}
