:root {
  --background-color: #f2f2f2;
  --text-color: #000000;
  --inverse-text-color: #000000;
  --header-footer-bg: #e0e0e0;
  --header-footer-text: #000000;
  --border-color: #000;
  --heading-color: #000;
  --today-event-bg: #efd4ea;
  --today-event-border: #ffc107;
  --today-event-text-color: #000;
  --a: rgb(27, 13, 220);
  --button-color: #eee;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Space Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0 20px;
  text-align: center;
  margin: 0;
}

[data-theme="dark"] {
  --background-color: #1c1c1c;
  --text-color: #ffffff;
  --inverse-text-color: #000000;
  --header-footer-bg: #2a2a2a;
  --header-footer-text: #ffffff;
  --heading-color: #dbe3d5;
  --border-color: #999999;
  --today-event-bg: #111;
  --today-event-border: #222;
  --today-event-text-color: #fff;
  --a: #ffc107;
  --button-color: #444;

}

.container {
  max-width: 666px;
  margin: auto;
  padding: 0;
  text-align: left;
}

header,
footer {
  color: var(--header-footer-text);
  padding: 15px 0;
}

header * {
  color: var(--text-color);
}

header button {
  margin-top: 10px;
  color: var(--inverse-text-color);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0 15px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media only screen and (min-width: 720px) {
  nav ul {
    justify-content: center;
  }
}

nav ul li {
  position: relative;
  padding: 0 5px;
  margin: 0;
}

nav ul li:first-child {
  margin: 0;
  padding: 0;
}

nav ul li::before {
  content: "|";
  position: absolute;
  opacity: 0.6;
  left: -12.5px;
  color: #ccc;
}

nav ul li:first-child::before {
  content: "";
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

p {
  margin-top: 8px;
}

h1,
h2 {
  font-family: "Space Mono", sans-serif;
  color: var(--heading-color);
  margin-top: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

[data-lol] {
  margin-bottom: 20px;
  text-align: left;
}

@media only screen and (min-width: 720px) {
  [data-lol] {
    text-align: center;
  }
}

h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

h2 small {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
}

h3 {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 22px;
}

p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  color: var(--a);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.today-event {
  background-color: var(--today-event-bg);
  color: var(--today-event-text-color);
  padding: 15px;
  position: relative;
  margin-top: 40px;
  padding-top: 20px;
}

[data-event] {
  border-bottom: 4px dotted #aaa;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

[data-event] .today {
  position: absolute;
  top: -25px;
  left: 0px;
  height: 30px;
  line-height: 30px;
  background-color: var(--today-event-bg);
  padding: 4px 15px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  border-radius: 2px;
}

[data-add] {
  display: block;
  font-size: 12px;
}

#theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
}

#theme-toggle:hover {
  transform: scale(1.2);
}
.flyout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Greyed-out overlay */
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 999; /* Ensure overlay is below flyout */
  pointer-events: none; /* Initially disable interactions */
}

.flyout-overlay-show {
  opacity: 1;
  pointer-events: auto; /* Enable interactions when visible */
}

.flyout {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
}

.flyout-show {
  right: 0;
}

.flyout-content {
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 4px solid #666;
  text-align: center;
  margin-top: -5px;
  padding-bottom: 10px;
}

.rbc-row-segment .rbc-event-content {
  display: block !important;
  overflow: hidden !important;
  white-space: wrap !important;
}

.rbc-month-row {
  flex-basis: fit-content !important;
  min-height: 20px;
  .rbc-row-content-scrollable {
    .rbc-row-content-scroll-container {
      min-height: 150px !important;
    }
  }
}

.rbc-toolbar {
  flex-direction: row-reverse;
.rbc-toolbar-label {
  text-align: left !important;
  padding-left:0 !important;
}
}

button {
  border-radius: 0 !important;
  border: 0 !important;
  padding:5px 10px !important;
  background-color: var(--button-color);
  color: var(--text-color);
  display: inline-block;
}