---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About Us">
  <h1 style="margin-bottom: 10px">What is this?</h1>
  <p>This is an aggregation tool of all the open mics and cool local singwriter events happening in Richmond Virginia.</p>
  <h2>Who's in charge here?</h2>
  <p><a href="https://loganfromtheinter.net">Logan, from the Internet</a></p>
</BaseLayout>
