---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About Us">
  <h2>Booking</h2>
  <p>The easiest way to get booked for shows it to show up to other people's shows, meet people, and ask around. However, you can also try to book directly.</p>
  <p>
    <a href="https://www.thecamel.org/booking" target="_blank">Booking Shows at The Camel</a><br />
    <a href="https://fuzzycactusrva.com/booking/" target="_blank">Booking Shows at Fuzzy Cactus</a><br />
    <a href="https://tinpanrva.com/for-musicians/" target="_blank">Booking Shows at Tin Pan</a>
  </p>
</BaseLayout>
