---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCalendarEvents } from '../lib/calendar';
import { getCalendar } from '../utils';
import ActualCalendar from '../components/ssrCalendar.jsx';
import EventList from '../components/EventList.jsx'; // Import the new component

const cal = getCalendar('openmics');
let events = [];
let noRecurring = [];

try {
  events = await getCalendarEvents(cal);
  noRecurring = await getCalendarEvents(cal, false);

} catch (error) {
  console.error('Error fetching events:', error);
  events = null; // Explicitly set to null on error
}

console.log(events)
---

<BaseLayout title="RVA Open Mics">
  {!events ? (
    <p>There was an error loading the events or no events available.</p>
  ) : (
    <>
      <h1>Open Mics:</h1>
      <a data-add href="https://calendar.google.com/calendar/ical/b3d8d5b621d0840f0266cfbcfaaaeb06986e135975d1bc7d73eb74d5edfeaa9f%40group.calendar.google.com/public/basic.ics" target="_blank">Add these events to your calendar →</a>
      <ActualCalendar client:load events={events} />
      <EventList events={noRecurring} />
    </>
  )}
</BaseLayout>