---
import "../styles/styles.scss";
import 'react-big-calendar/lib/css/react-big-calendar.css';

const { title } = Astro.props;

// Array of synonyms for "Rad"
const synonyms = [
  "Awesome", "Cool", "Epic", "Sick", "Dope", "Gnarly",
  "Rad", "Lit", "Fire", "Legit", "Killer", "Bomb", "Sweet",
  "Fresh", "Tight", "Mint", "Prime"
];

// Function to get a random synonym
function fuckingRad() {
  return synonyms[Math.floor(Math.random() * synonyms.length)];
}

// Generate the random synonym server-side
const superFuckingRad = fuckingRad();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rva.lol | {title || 'My Astro Site'}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Anton&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>

    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Logan, from the Internet">
  </head>
  <body>
    <main class="container">
      <header>
        <div data-lol><a href="/">RVA SONGWRITERS</a> @ rva.lol</div>
        <nav>
          <ul>
            <li><a href="/">Open Mics</a></li>
            <li><a href="/booking">Get Booked!</a></li>
          </ul>
        </nav>
      </header>
      <slot />
    </main>
    <footer>
      <p>From <a href="/about">What?</a> | <a href="https://github.com/lsorese/rva.lol" target="_blank">Open Source</a>, No Rights Reserved</p>
      <button id="theme-toggle" aria-label="Toggle Dark Mode">Toggle Dark Mode</button>
    </footer>
    <script is:inline src="/darkmode.js"></script>
  </body>
</html>
