---
import "../styles/styles.scss";
import 'react-big-calendar/lib/css/react-big-calendar.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rva.lol | {title || 'My Astro Site'}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Logan, from the Internet">
  </head>
  <body>
    <main class="container">
      <header>
        <div data-lol><a href="/">RVA SONGWRITERS</a> @ rva.lol</div>
        <nav>
          <ul>
            <li><a href="/">Open Mics</a></li>
            <li><a href="/shows">Shows</a></li>
            <li><a href="/booking">Get Booked!</a></li>
            <li><a href="/about">About!</a></li>
            <li><a href="/camelsessions">Camel Sessions</a></li>
          </ul>
        </nav>
      </header>
      <slot />
    </main>
    <footer>
      <p>From <a href="https://loganfromtheinter.net/" target="_blank">Logan, from the Internet</a> | <a href="https://github.com/lsorese/rva.lol" target="_blank">Open Source</a>, No Rights Reserved</p>
      <button id="theme-toggle" aria-label="Toggle dark mode">Toggle Dark Mode</button>
    </footer>
    <script is:inline src="/darkmode.js"></script>
  </body>
</html>
